<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head')%>
<body>
    <%- include ('../partials/header')%>

    
    <!-- main start -->
    
    <main class="main_product">
        <section class="product_detail">
            <div class="product_images">
                
                <div class="product_ppal_image">
                    <img  src="img/guitarra.jpg" alt="guitarra">
                </div>
                
                <div class="product_slider_images">
                    
                    <img class="product_slider_image" src="img/guitarra.jpg" alt="guitarra">
                    <img class="product_slider_image" src="img/guitarra.jpg" alt="guitarra">
                    <img class="product_slider_image" src="img/guitarra.jpg" alt="guitarra">
                    <img class="product_slider_image" src="img/guitarra.jpg" alt="guitarra">
                    
                </div>
            </div>
            <div class="product_information">
                <h1 class="product_name">Guitarra Fender Stratocaster</h1>
                <h3 class="product_cost">$300.000</h3>
                <span class="product_share">o en 18 cuotas de $16.666</span>
                <p class="product_description">Nombrada con las características típicas que esperarías de una Stratocaster, la American Performer cuenta, sin embargo, con algunas características modernas pensadas para llevarla a cabo. Con pastillas Yosemite nuevas, un mástil liso con acabado satinado y el circuito de tono deseable 'Greasebucket', este instrumento puede servir como el caballo de batalla perfecto para cualquier guitarrista.</p>
                <div class="detail_btns">
                    <button class="btn"> Comprar </button>
                    <button class="btn">Agregar al carrito</button>
                </div>
            </div>
        </section>   
    </main>
    
    <!--footer start -->
    <%- include ('../partials/footer')%>
    
    <!-- JS BOOSTRAP -->
    
    <!-- <script src="js/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script> -->
        
    </body>
    
    </html>