<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head')%>
<body>
    <%- include ('../partials/header')%>        
    <!-- main start -->
    
    <main>
        <section class="section_cart">
            <div class="cart_checkout">
                <h1 class="title_cart">Carrito</h1>
                <span class="cart_total_amount">Total: $900.000</span>
                <button class="btn">Finalizar Compra</button>
            </div>
            
            <div class="line"></div>
            
            <div class="cart_item">
                <img class="img_cart_product" src="/img/guitarra.jpg" alt="">
                <div class="cart_detail_item">
                    <h2>Guitarra Fender</h2>
                    <span class="product_share">Envío gratis</span>
                    <button class="btn btn_cart btn_width">Eliminar</button>
                </div>
                <div class="cart_amount_detail">
                    <button class="btn btn_cart">-</button>
                    <span class="cart_item_amount">1</span>
                    <button class="btn btn_cart">+</button>
                </div>
                <span class="cart_item_price">$300.000</span>
            </div>
            <div class="line"></div>
            
            <div class="cart_item">
                <img class="img_cart_product" src="/img/guitarra.jpg" alt="">
                <div class="cart_detail_item">
                    <h2>Guitarra Fender</h2>
                    <span class="product_share">Envío gratis</span>
                    <button class="btn btn_cart btn_width">Eliminar</button>
                </div>
                <div class="cart_amount_detail">
                    <button class="btn btn_cart">-</button>
                    <span class="cart_item_amount">1</span>
                    <button class="btn btn_cart">+</button>
                </div>
                <span class="cart_item_price">$300.000</span>
            </div>
            <div class="line"></div>
            
            <div class="cart_item">
                <img class="img_cart_product" src="/img/guitarra.jpg" alt="">
                <div class="cart_detail_item">
                    <h2>Guitarra Fender</h2>
                    <span class="product_share">Envío gratis</span>
                    <button class="btn btn_cart btn_width">Eliminar</button>
                </div>
                <div class="cart_amount_detail">
                    <button class="btn btn_cart">-</button>
                    <span class="cart_item_amount">1</span>
                    <button class="btn btn_cart">+</button>
                </div>
                <span class="cart_item_price">$300.000</span>
            </div>
            <div class="line"></div>
        </section>
        
    </main>
    
    <!--footer start -->
    <%- include ('../partials/footer')%>
    <!-- JS BOOSTRAP -->
    
    <!-- <script src="js/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script> -->
        
    </body>
    
    </html>