
.main_product {
    padding: 3%;
}

.product_detail {
    display: flex;
}
.product_images {
    width: 40vw!important;
}

.product_ppal_image {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.product_ppal_image img {
    width: 300px;
    height: auto;
}


.product_slider_images {
    display: flex;
    justify-content: space-around;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
}

.product_slider_image {
    width: 50px;
}
.product_information{
    width: 40vw;
    padding-top: 5%;
}

.product_name {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 3%;
    text-transform: uppercase;
    text-align: start;
}

.product_cost {
    font-size: 50px;
    font-weight: 200;
    text-transform: uppercase;
    text-align: start;
}

.product_description {
    font-size: 16px;
    font-weight: 300;
    margin-top: 3%;
    width:100%;
    margin-bottom: 3%;
}

.product_share {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 3%;
    color: #3483FA;
}
.detail_btns{
    display: flex; 
    justify-content: start;  
}

.title_mobile{
    display: none;
}
@media (max-width: 768px){
    .product_information{
        padding-left: 15px;
    }
}
@media (max-width: 420px){
    .product_detail {
        flex-direction: column!important;
    }
    .title_mobile{
        width: 300px;  
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
    }
    .product_slider_images {
        display: none;
    }
    .product_share{
        text-align: center;
        width: 100px!important; 
        margin: auto;
    }
    .product_name{
        display: none;
    }
    .product_information{
        width: 90vw;
        padding-top: 0%;
    }
}