.main_list{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
    padding-left: 10px;
}  
.form_alta_prod{
    padding-top: 2%;     
    margin-left: auto;
    margin-right: auto;
}
.select_column{
    margin-top: 10px;
    height: 100%;
    width: 30%!important;
    background-color: #ffffff;
    margin-left: 0%;
    padding: 30px 0px 30px 50px;
    text-align: left;
    align-items: flex-start;
    border-radius: 12px;
   
} 
.list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;
}
.list span{
    margin-left: 0%;
}
.modal_filter_btn{
    display: none;
}

.select_column{
    width: 20%!important;
}
.menu_list{
    width: 70%;
    padding: auto!important;
    margin-left: auto;
    margin-right: auto;
}
.item_menu_3{
    width: 30%; 
    border-style: solid; 
    border-color: #ededed; 
    background-color: #ffffff;
    border-radius: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
    margin-left:10px!important;
    margin-top:5%!important;
    margin-right:10px!important;
    
 }
@media (max-width: 768px){
    .list{
        display:none;
    }
.select_column{
    margin-top: 0%!important;
    padding: 0px!important;
    background-color: #EBEBEB!important;
    margin-left: 0%;
    text-align: left;
    align-items: flex-start;
}
.modal_filter_btn{
        display: flex;
        align-content:center!important;
        justify-content: center!important;
        padding: 6px 10px 6px 10px;
        margin-right: auto;
        margin-left: auto;
        height: 30px;
        width: 100px;
        background-color: #fff;
        text-decoration: none;
        color: var(--btn_background_color);
        border-radius: 8px;
        padding: auto;
}
 
    .main_list{
    flex-direction: column; 
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}    

.item_menu_3{
    width: 42%; 
        margin-left:5px!important;
        margin-top:3%!important;
        margin-right:5px!important;
 }
}
