.content_reg{
    display: flex;
    justify-content: center; 
    margin-top: 10vh;
    height: auto;

}

.section_reg{
    width: 100%; 
    height: 55vh;   
    border-radius: 35px;
}

.form_reg{    
    display: flex; 
    flex-direction: column; 
    justify-content: space-evenly; 
    height: 50vh; 
    margin: auto;
    width: 50vw;
}

.label_reg{
    color: #000; 
    font-size: 16px;
    margin-left: 0;
}

