.content_reg{
    display: flex;
    justify-content: center; 
    margin-top: 5vh;
    height: auto;

}

.section_reg{
    width: 100%; 
    height: auto;
    margin-bottom: 30px;   
    border-radius: 35px;
}

.form_reg{    
    display: flex; 
    flex-direction: column; 
    justify-content: space-evenly; 
    height: auto; 
    /* margin: auto; */
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

.label_reg{
    color: #000; 
    font-size: 16px;
    margin-left: 0;
}
 .alert{
    display: none; 
    color: red; 
    margin-left:0%!important; 
    font-size: 14px;
 }
 .alertMsg{
     margin-top: -15px;
     margin-bottom: 15px;
 }
@media (max-width: 420px){
    .form_reg{    
        width: 80vw;
    }
 }
