@import url(header.css);
@import url(header_minimal.css);
@import url(productList.css);
@import url(carousel.css);
@import url(footer.css);
@import url(productDetail.css);
@import url(registerLogin.css);
@import url(productCart.css);
:root{
    --btn_background_color: #3483FA;
    --btn_background_color_hover: #2662BE;
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

    /* margin-right: auto;
    margin-left: auto; */
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    max-width: 1440px!important;
    z-index: 1;
    margin-right: auto;
    margin-left: auto; 
    background-color: #EBEBEB;
}

/* UI KIT */
/* texts */
h5{
    margin-top: 1%; 
    margin-bottom: 1%; 
    font-weight: 400;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}
h4{
    margin-top: 1%; 
    margin-bottom: 1%; 
    font-weight: 400;
    font-size: 18px;
}
h3{
    margin-top: 2%; 
    margin-bottom: 1.8%; 
    text-align: center;  
    font-weight: 300;
    font-size: 25px;
}
h2{
    margin-top: .7%; 
    margin-bottom: 1%; 
    text-align: center; 
    font-weight: 300;
}

h1{    
    margin-top: .7%; 
    margin-bottom: 1%; 
    text-align: center; 
    font-weight: 300;
}
p{
    font-size: 16px;
    font-weight: 300;
    margin-left:  auto;
    margin-right: auto;
}
.left_alig{
    text-align: left; 
    margin-left: 0%;
}
.center_alig{    
    text-align: center; 
    margin-left: auto;
    margin-right: auto;}
    /* buttons */
    .btn{
        background-color: var(--btn_background_color);
        color: #ffffff;
        border-style: none;
        width: 150px;
        height: 40px!important;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-decoration: none!important;
        margin-left: auto;
        margin-right: auto;
    }
    .delete_btn{
        color: #ffffff;
        border-style: none;
        width: 150px;
        height: 40px!important;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-decoration: none;
        background-color: red;
    }
    .txt_btn_login{
        margin-left:1%
    }
    .btn:hover{
        background-color: var(--btn_background_color_hover);
        font-weight: 600;
        transition-duration: 0.5s;
    } 
    .delete_btn:hover{
        background-color: darkred;
        font-weight: 600;
        transition-duration: 0.5s;
    }
    /* inputs */
    input[type=checkbox] { transform: scale(.7); -ms-transform: scale(.7); -webkit-transform: scale(.7); padding: 10px; }
    input{
        width: 100%!important;
        border-color: rgb(189, 187, 187);
        border-style: solid;
        border-width: 1px;
        border-radius: 5px;
        margin-bottom: 20px;
        height: 35px;
    }
    /* links */
    .link{
        color: var(--btn_background_color);
        text-decoration: none;
        font-size: 16px;
        text-align: left;
        margin-left:  auto;
        margin-right: auto;
    }
    .link:hover{
        color: var(--btn_background_color_hover);
        font-weight: 600;
    }
    /* slider */
    .slider_img{
        width: 100%;
    }
    /* categories menu */
    .menu{
        display: flex; 
        flex-wrap: nowrap;
        justify-content: space-evenly;

      
    }
    .item_menu{
        height: 250px;
        width: 320px; 
        display: inline-block;
        border-radius: 8px;
        position: relative;
        overflow: hidden;
    }
    .item_menu:hover{
        width: 320px; 
        display: inline-block;
        background-color: rgba(0, 0, 0);
        transition: all 600ms;
        padding-top: 20px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .item_menu .img_category{
        display: flex;
        border-radius: 9px;
        width: auto; height: 100%;
        position: absolute;
     }
    .item_menu:hover .img_category{
        display: none;
    }

    
    .icon_category{
        width: 70px; 
        margin-bottom: 5px;
    }
    .teclas{
        width: 100px; 
    }
    .item_menu:hover .info_item_menu h4{
        font-size: 25px;
    }
    .item_menu:hover .info_item_menu p{
        text-align: center;
    }
    .item_menu_2{
        width: 15%; 
        border-style: solid; 
        border-color: #ededed; 
        background-color: #ffffff;
        border-radius: 12px;
        border-width: 1px;
        padding-top: 15px;
        padding-bottom: 15px;
        display: inline-block;
        
    }
    .item_menu_2:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        
    }
    .img_item_menu_2{
        width: 70%; 
        margin-left: 15%;
        border-radius: 12px;
    }
    .item_menu_off_txt_2{
        display: flex; 
        flex-direction: column; 
        justify-content: space-around; 
        align-content: left;
    }
    .price_item_menu_2{
        font-size: 30px;
        font-weight: 300;
        color:black;
        margin-left: auto;
        margin-right: auto;
    }
    .img_item_menu{
        width: 100%; 
    }
    .info_item_menu{
        margin-top:10px;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50px;
        margin-left: 40%;
    }
    .line_2{
        border-top: 1px solid #ffffff;
        height: 2px;
        width: 50%;
        margin: 10px auto 10px auto;
    }
    .sec_scroll{
        display: flex;
        align-items: center;
        height: auto;

    }
    .div_scroll{
        display: inline;
        align-items: center;
        height: auto;
        max-width: 1280px;
      
        overflow-x: auto;
        width: auto;
        padding: 10px;
         white-space: nowrap;
        margin: auto;
        margin-bottom: 30px;
    }
    .div_scroll::-webkit-scrollbar { width: 50%;  background-color: rgb(148, 148, 148);
  }
    .div_scroll::-webkit-scrollbar-thumb { width: 50%;  background-color: rgb(0, 0, 0);}


    /* .scroll{
        overflow: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .scroll::-webkit-scrollbar{
        display: none;
    }  */
    
    .web_info, .web_info_2{ 
        margin-top:20px; 
        display: flex; 
        flex-direction: row; 
        justify-content: space-around;
        width: 100%;
        margin-left:  auto;
        margin-right: auto;
    }
    .web_info_img, .web_info_img_2 {
        margin-left: auto;
        margin-right: auto;}
    .web_info_box{
        background-color: #ffffff;
        padding: 5px; 
        border-radius: 10px; 
        width: 48% ;
        display: flex; 
        flex-direction: row; 
        justify-content: space-around;
        margin-left:  auto;
        margin-right: auto;
    }
    .web_info_box_2{
        margin: 20px 10px 30px 10px;
          padding: 5px; 
        width:31%;
        display: flex; 
        flex-direction: column; 
        justify-content: space-around;
        background-color: #ffffff;
        border-radius: 12px;
        padding-top: 15px;
        padding-bottom: 15px;
    
    }
    .web_info_txt{
        display: flex; 
        flex-direction: column; 
        justify-content: space-evenly; 
        align-content: left;
        margin-left: auto;
        margin-right: auto  ;
    }
    .web_info_txt_2{
        display: flex; 
        flex-direction: column; 
        justify-content: space-around; 
        align-content: left;
    }
    .info_2{
        align-content: center;
        flex-direction: column!important; 
    }
    
    
    @media (max-width: 1024px){
        .no_disapear{
            display: inline!important;
        }
        .disapear{
            display: none!important;
        }
    
        h5{
            font-size: 16px;
            margin-left: auto;
            margin-right: auto;
        }
        p{
            font-size:14px;
            
        }
        
    }
    @media (max-width: 768px){
        .web_info{ 
            flex-direction: column; 
        }
        .menu{   
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }
        
        .item_menu_2{
            width: 30%;
        }
        .web_info_box{
            width: 90%;
            margin-bottom: 30px;
        }
        .web_info_box_2{
            width: 100%!important;
        }
        /* .menu{
            flex-direction: column;
        } */
    }
    
    @media (max-width: 420px){
        h5{
            text-align: center;
        }
        .link{
            text-align: center;
            margin-left:  auto;
            margin-right: auto;
        }
        .slider{
            display: none!important;
        }
        .slider_mobile{
            display: block!important;
        }
        .menu{
            width: 300px;
            margin-left: auto;
            margin-right: auto;
        }
        .item_menu{
            width: 300px;
            margin-bottom: 15px;
        }
        .item_menu:hover{
            width: 100%; 
        }
        .info_item_menu{
            margin-left: 10%;
            padding-top: 20px;
            visibility: visible;
        }
        .item_menu_2{
            width: 45%;
        }
        .web_info_box{
            flex-direction: column;
        }
        .web_info_2{ 
            flex-direction: column; 
        }
        .web_info_box_2{
            width: 100%!important;
        }
        .left_alig{
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        
    }