@import url(header.css);
@import url(footer.css);
@import url(productDetail.css);
@import url(registerLogin.css);
@import url(productCart.css);

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
}

body{
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 375px){
     .slider{
        display: none!important;
    }
    .slider_mobile{
        display: block!important;
    }

 }