<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head')%>

<body>  
    <!-- main start -->
    <%- include ('../partials/header')%>
    <main style="height:100vh;">
        
        <section class="slider">
            <img style="width: 100%;"  src="/img/slider_cm_1.jpeg" alt="">
        </section>
        <section class="slider_mobile">
            <img style="width: 100%;"  src="/img/slider_cm_1_mobile.jpeg" alt="">
        </section>
        <h3 style="margin-top: .7%; margin-bottom: 1%; text-align: center; font-weight: 300;">CATEGORIAS</h3>
        <section style="display:flex; justify-content: space-evenly;">
            <div style="width: 22%; border-style: solid; border-color: black; border-width: 1px;">
                <img style="width: 100%;" src="/img/cat_guitar_color.jpg" alt="">
                <div style="padding-left:5%;">
                    <h4>CUERDAS</h4>
                    <p style="font-weight: 300;">Guitarras, Bajos, Violines, Contrabajos ...</p>
                </div>
            </div>
            <div style="width: 22%; border-style: solid; border-color: black; border-width: 1px;">
                <img style="width: 100%;" src="/img/cat_drumms_color.jpg" alt="">
                <div style="padding-left:5%;">
                    <h4>PERCUSIÓN</h4>
                    <p style="font-weight: 300;">Baterías, tambores, platos, djembes...</p>
                </div>
            </div>
            <div style="width: 22%; border-style: solid; border-color: black; border-width: 1px;">
                <img style="width: 100%;" src="/img/cat_keys_color.jpg" alt="">
                <div style="padding-left:5%;">
                    <h4>TECLAS</h4>
                    <p style="font-weight: 300; font-size: 14px;">Teclados, Pianos, Sintetizadores...</p>
                </div>
            </div>
            <div  style="width: 22%; border-style: solid; border-color: black; border-width: 1px;">
                <img style="width: 100%;" src="/img/cat_winds_color.jpg" alt="">
                <div style="padding-left:5%;">
                    <h4>VIENTOS</h4>
                    <p style="font-weight: 300;">Flautas, Saxofones, Clarinetes, Didjeridoo...</p>
                </div>
            </div>
            
        </section>
    </main>
    
    <!-- footer start -->
    <%- include ('../partials/footer')%>
    
    
    <!-- JS BOOSTRAP -->
    
    <!-- <script src="js/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script> -->
        
    </body>
    
    </html>