<footer>
    <section class="copyright">
        <img src="/img/isotipo_white.svg" alt="isotipo de la marca">
        <div >
            <p>Copyright © 2021 Cajita Musical S.R.L.</p>
            <p>Av. Caseros 3039, Piso 2, CP 1264, Parque Patricios, CABA</p>
        </div>
    </section>
    <section class="terms">
        <a href="">Términos y condiciones</a>
        <a href="">Politicas de privacidad</a>
        <a href="">Contacto</a>
    </section>
    <section class="rrss">
        <span class="txt_rsss">Seguinos</span>
        <div class="icons_rrss">
            <a href=""><img class="icon_rrss" src="/img/icon_face.svg" alt=""></a>
            <a href=""><img class="icon_rrss" src="/img/icon_insta.svg" alt=""></a>
            <a href=""><img class="icon_rrss" src="/img/icon_twit.svg" alt=""></a>
            <a href=""><img class="icon_yt" src="/img/icon_youtube.svg" alt=""></a>  
        </div>
    </section>
</footer>