  <!-- header start-->

<header>    
        
    <!-- header top start -->
    
    <div class="header_minimal">
        <a href="/">
            <img src="../img/imagotipo_blanco.svg" alt="logo del sitio cajita musical.">
        </a>
        <a href="#modal" class="burguer_menu btn-open-modal burguer_admin"> 
            <img src="../img/dot_menu.svg" alt="">
        </a>

        <div class="container_all_popup" id="modal">
            <div class="popup">
                <ul>
                    <span>Categorias</span>
                    
                    <li style="margin:10px 0 5px 0;">
                        <a href="/admin/alta_categoria" class="link">ALTA</a>
                    </li>
                    
                    <li style="margin-bottom: 5px;">
                        <a href="/admin/baja_categoria" class="link">BAJA</a>
                    </li>
                    
                    <li style="margin-bottom: 5px;">
                        <a href="/admin/modificacion_categoria" class="link">MODIFICACIÓN</a>
                    </li>
                    
                    <div class="line" style="margin-bottom: 15px;"></div>
                    
                    <span>Productos</span>
                    
                    <li style="margin:10px 0 5px 0;">
                        <a href="/admin/alta_categoria" class="link">ALTA</a>
                    </li>
                    
                    <li style="margin-bottom: 5px;">
                        <a href="/admin/baja_categoria" class="link">BAJA</a>
                    </li>
                    
                    <li style="margin-bottom: 5px;">
                        <a href="/admin/modificacion_categoria" class="link">BAJA</a>
                    </li> 
                    
                    <div class="line" style="margin-bottom: 15px;"></div>
                    
                    <span>Banners</span>
                    
                    <li style="margin:10px 0 5px 0;">
                        <a href="/admin/alta_categoria" class="link">ALTA</a>
                    </li>
                    
                    <li style="margin-bottom: 5px;">
                        <a href="/admin/baja_categoria" class="link">BAJA</a>
                    </li>
                    
                    <li style="margin-bottom: 5px;">
                       <a href="/admin/modificacion_categoria" class="link">BAJA</a>
                    </li>
                    
                    <div class="line" style="margin-bottom: 15px;"></div>
                    
                    <li style="margin-bottom: 10px;">
                        <a href="/usuarios/registrar" class="link">Estetica</a>
                    </li>
                    <li>
                        <a href="/usuarios/registrar" class="link">Mi cuenta</a>
                    </li>
                </ul>
                <a href="#" class="btn_close_popup link">X</a>
                <a href="#" class="btn_close_popup_2 link">VOLVER AL SITIO</a>
            </div>
        </div>
    </div>
</header>