  <!-- header start-->

<header>    
        
    <!-- header top start -->
    
    <div class="header_minimal">
        <a href="/">
            <img src="../img/imagotipo_blanco.svg" alt="logo del sitio cajita musical.">
        </a>
    </div>
</header>