<!-- header start-->

<header>

    <!-- header top start -->

    <div class="header_top">
        <a href="/" class="logo_link">
            <img src="/img/imagotipo.svg" class="logo_desktop" alt="logo del sitio cajita musical.">
        </a>
        <a href="/" class="logo_link_mobile">
            <img src="/img/isotipo.svg" class="logo_mobile" alt="logo del sitio cajita musical.">
        </a>
  
            <form class="search_form" action="/productos/lista" method="GET" class="search-form" enctype="multipart/form-data">
                <input class="search_input" type="text" name="searchProduct" placeholder="Busca por marca, instrumento, etc.">
                <button style=" margin-top: auto; margin-bottom:auto; background-color: #fff; border-style: none;" type="submit">
                    <img src="/img/icon_search.svg" style="width: 100%; opacity: 0.8; padding-left: 5px; padding-right: 5px;"
                        alt="">
                </button>
            </form>
      
       
        <a href="/usuarios/ingresar" class="btn disapear">
            <% if(!userLogged) { %>
                <img src="/img/icon_btn_login.svg" alt="">
                <span class="txt_btn_login">MI CUENTA</span>
                <% } else { %>
                    <img class="profile_img_user" src="/img/avatars/<%= userLogged.image %>" alt="">
                    <span class="txt_btn_login">
                        <%= userLogged.user %>
                    </span>
                    <% } %>

        </a>



        <!-- <ul class="burguer_container">
            <li class="burguer_li"> -->
        <a href="#modal" class="burguer_menu btn-open-modal">
            <img src="/img/dot_menu.svg" alt="">
        </a>

        <div class="container_all_popup" id="modal">
            <div class="popup">
                <ul>
                    <li>
                        <% if(!userLogged) { %>
                            <a href="/usuarios/ingresar" class="link">Mi Cuenta</a>
                            <% } else { %>
                                <div style="display: flex; flex-direction: column;">
                                    <img class="profile_img_user_mobile" src="/img/avatars/<%= userLogged.image %>"
                                        alt="">
                                    <a href="/usuarios/ingresar" class="link">
                                        <%= userLogged.user %>
                                    </a>
                                </div>
                                <% } %>

                    </li>
                    <div class="line_2"></div>
                    <li>
                        <a href="/" class="link">Categorias</a>
                    </li>
                    <div class="line_2"></div>
                    <li>
                        <a href="" class="link">Ofertas</a>
                    </li>
                    <div class="line_2"></div>
                    <li>
                        <a href="/usuarios/ingresar" class="link">Historial</a>
                    </li>
                    <div class="line_2"></div>
                    <li>
                        <a href="/usuarios/ingresar" class="link">Mis Compras</a>
                    </li>
                    <div class="line_2"></div>
                    <li>
                        <a href="/usuarios/ingresar" class="link">Favoritos</a>
                    </li>
                    <div class="line_2"></div>
                    <li>
                        <a href="/productos/carrito" class="link">Carrito</a>
                    </li>
                    <div class="line_2"></div>
                    <% if (!userLogged) { %>
                        <li>
                            <a href="/usuarios/registrar" class="link">REGISTRATE</a>
                        </li>
                        <% } %>
                </ul>
                <a href="#" class="btn_close_popup link">X</a>
                <a href="#" class="btn_close_popup_2 link">VOLVER AL SITIO</a>
            </div>
        </div>
        <a href="/productos/carrito" class="btn_header_bottom btn_cart_mobile">
            <img src="/img/icon_carrito.svg" alt="">
        </a>
    </div>

    <!-- header bottom start -->

    <div class="header_bottom">
        <div class="location_address">
            <img src="/img/icon_gps.svg" class="icon_gps" alt="">
            <div class="delivery_post">
                <p class="p_gps"> Enviar a:</p>
                <a href="" class="a_gps_2"> Ingresa CP y conoce costo de envío.</a>
            </div>
        </div>
        <nav class="nav_header">
            <ul class="nav_ul_header">
                <li class="nav_ul_li_header">Categorias
                    <ul class="nav_ul_li_cat_ul">
                   

                         <li class="nav_ul_li_cat_ul_li_1">
                            <a  href="/productos/lista/cuerdas">Cuerdas</a>
                        </li>
                        <li class="nav_ul_li_cat_ul_li">
                            <a  href="/productos/lista/Percusion">Percusión</a>
                        </li>
                        <li class="nav_ul_li_cat_ul_li">
                            <a  href="/productos/lista/vientos">Vientos</a>
                        </li>
                        <li class="nav_ul_li_cat_ul_li">
                            <a  href="/productos/lista/teclas">Teclas</a>
                        </li>

                    </ul>
                </li>
                <li class="nav_ul_li_header">
                    <a href="">Ofertas</a>
                </li>
                <li class="nav_ul_li_header">
                    <a href="">Historial</a>
                </li>
                <li class="nav_ul_li_header">
                    <a href="">Mis Compras</a>
                </li>
            </ul>
        </nav>
        <div class="btns_header_bottom">
            <a href="#" class="btn_header_bottom">
                <img class="img_btn_fav" src="../img/icon_heart.svg" alt="">
                <span class="txt_btn_icon">Favoritos</span>
            </a>
            <a href="/productos/carrito" class="btn_header_bottom">
                <img class="img_btn_cart" src="../img/icon_carrito.svg" alt="">
                <span class="txt_btn_icon">Carrito</span>
            </a>
            <% if (!userLogged) { %>

                <a href="/usuarios/registrar" class="btn_header_bottom_2">REGISTRATE</a>

                <% } %>
        </div>
    </div>
</header>