<section class="select_column invisble_mobile">
    <ol class="list">
        <li >
            <h4>Categorias</h4>  
             <ol style="margin-top: 10px;">
                 <li><a class="link" href="">CREAR</a></li>
                 <li><a class="link" href="">MODIFICAR</a></li>
                 <li><a class="link" href="">BORRAR</a></li>
             </ol>
         </li>
         <div class="line"></div>
         <li>
                <h4>Productos</h4>  
                 <ol style="margin-top: 10px;">
                     <li><a class="link" href="/productos/carga_producto">CREAR</a></li>
                     <li><a class="link" href="/usuarios/modif">MODIFICAR</a></li>
                     <li><a class="link" href="">BORRAR</a></li>
                 </ol>
             </li>
            <div class="line"></div>
        <li >
           <h4>Banners</h4>  
            <ol style="margin-top: 10px;">
                <li><a class="link" href="">CREAR</a></li>
                <li><a class="link" href="">MODIFICAR</a></li>
                <li><a class="link" href="">BORRAR</a></li>
            </ol>
        </li>
            <div class="line"></div>
        <li class="link">Estetica</li>
        <li class="link">Mi cuenta</li>
    </ol>
</section>