<section class="select_column invisble_mobile">
    <ol class="list">
        <li >
            <a class="link" href="">Mis Compras</a>
        </li>
             <div class="line"></div>
         <li >
             <a class="link" href="">Facturas</a>
        </li>
            <div class="line"></div>
            <li >
                <a class="link" href="">Mi cuenta</a>
           </li>
           <div class="line"></div>
           <li >
               <a class="link" href="/usuarios/logout">Salir</a>
          </li>
    </ol>
</section>