<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head')%>
<style>
    .contenedor{
        display:flex; 
        flex-direction: row;
        width: 100%;
    }
    .broke_guitar{
        background-image: url("https://media1.giphy.com/media/xT9IgLmgEdSTqqDKdW/giphy.gif?cid=790b7611652480fd40a2e00c18b07e5b004a510377d445b3&rid=giphy.gif&ct=g");
        height: 100vh; 
        background-size: cover;
        width: 50vw; 
        margin-right: 0!important; 
        right: 0%;
    }
    .data_error{
        display:flex; 
        flex-direction: column;
        justify-content: space-evenly; 
        margin: auto; 
        height: 50vh; 

    }
    .logo_404:hover{
transform: scale(1.1 , 1.1);
transition: 500ms ease-out;
    }
    @media (max-width: 1024px){
.contenedor{
    flex-direction: column;
}    
.broke_guitar{
       height: 60vh; 
        width: 100vw; 
    background-position: center;
    }
.data_error{
    height: 40vh; 
    margin: auto;
    
}
    }
</style>

<div class="contenedor" >
    <div class="data_error">
        <a href="/">
            <img class="logo_404" style="width: 80%; " src="/img/imagotipo.svg" alt="logo del sitio cajita musical.">
        </a>

            <h1 style="margin:30px auto 30px auto ;">
                PONE BIEN LA RUTA...
            <br>
                POR FAVOR
            </h1>
            <span style="color: red; margin:5px auto 5px auto;">(ERROR 404)</span>

    </div>
    <div class="broke_guitar" >

    </div>
    </div>
</body>
    
</html>