<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head')%>
<body>
    
    
    <!-- header -->
    <%- include ('../partials/header_admin')%>
    
    <!-- main start -->
    
    <main class="main_list">
        <section class="select_column invisble_mobile">
            <ol class="list">
                <li >
                    <h4>Categorias</h4>  
                     <ol style="margin-top: 10px;">
                         <li><a class="link" href="">CREAR</a></li>
                         <li><a class="link" href="">MODIFICAR</a></li>
                         <li><a class="link" href="">BORRAR</a></li>
                     </ol>
                 </li>
                 <div class="line"></div>
                 <li>
                        <h4>Productos</h4>  
                         <ol style="margin-top: 10px;">
                             <li><a class="link" href="">CREAR</a></li>
                             <li><a class="link" href="">MODIFICAR</a></li>
                             <li><a class="link" href="">BORRAR</a></li>
                         </ol>
                     </li>
                    <div class="line"></div>
                <li >
                   <h4>Banners</h4>  
                    <ol style="margin-top: 10px;">
                        <li><a class="link" href="">CREAR</a></li>
                        <li><a class="link" href="">MODIFICAR</a></li>
                        <li><a class="link" href="">BORRAR</a></li>
                    </ol>
                </li>
                    <div class="line"></div>
                <li class="link">Estetica</li>
                <li class="link">Mi cuenta</li>
            </ol>
        </section>
            <section style="padding-top:10%; margin-left: 0%;">
               <h1 style="margin-bottom: 20px;">BIENVENIDO AL PANEL <br> DE ADMINISTRACION</h1>
              <p style="text-align: center;">Desde este sitio odras dar de alta,<br> 
                  modificar o borrar productos, categorias <br>
                 estetica de sitio, datos de usuario.  
                </p>
        </section>
    </main>
        
     
    <!-- footer -->
    <%- include ('../partials/footer')%>
    
    <!-- JS BOOSTRAP -->
    
    <!-- <script src="js/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script> -->
        
    </body>
    
    </html>