<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head')%>
<body>
    
    
    <!-- header -->
    <%- include ('../partials/header_admin')%>
    
    <!-- main start -->
    
    <main class="main_list">
        <%- include ('../partials/menu_admin')%>
            <section style="padding-top:10%; margin-left: 0%;">
               <h1 style="margin-bottom: 20px;">BIENVENIDO AL PANEL <br> DE ADMINISTRACION</h1>
              <p style="text-align: center;">Desde este sitio odras dar de alta,<br> 
                  modificar o borrar productos, categorias <br>
                 estetica de sitio, datos de usuario.  
                </p>
        </section>
    </main>
        
     
    <!-- footer -->
    <%- include ('../partials/footer')%>
    
    <!-- JS BOOSTRAP -->
    
    <!-- <script src="js/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script> -->
        
    </body>
    
    </html>