<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head')%>
<body>
    
    
    <!-- header -->
    <%- include ('../partials/header_admin')%>
    
    <!-- main start -->
    
    <main class="main_list">
        <%- include ('../partials/menu_admin')%>

    <section style="padding-top: 2%;">
        <h1>Modificación de perfil</h1>
            <form style="height: 90%;" class="form_reg"action="/login" method="POST">
                <label for="user_name" class="label_reg">NOMBRE</label>
                <input  type="text" id="user_name" name="user_name" required>
                <label for="user_lastname" class="label_reg">APELLIDO</label>
                <input  type="text" id="user_lastname" name="user_lastname" required>
                <label for="user_img" class="label_reg">IMAGEN</label>
                <input style="border-style: none;" type="file"  accept=".jpg,.png" id="user_img" name="user_img" required>
                <label for="user_cat" class="label_reg">EMAIL</label>
                <input type="text" id="user_cat" name="user_cat" required>
                <label for="user_color" class="label_reg">DIRECCION</label>
                <input type="text" id="user_color" name="user_color" required>
                <label for="user_price"  class="label_reg">TELEFONO</label>
                <input class="input_reg" type="text" id="user_price" name="user_price"  minlength="5"  maxlength="10" required>
                <button class="btn no_disapear" type="submit">MODIFICAR</button>
            </form>
      
</section>
    </main>
        
     
    <!-- footer -->
    <%- include ('../partials/footer')%>
    
    <!-- JS BOOSTRAP -->
    
    <!-- <script src="js/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script> -->
        
    </body>
    
    </html>