<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head')%>
<body>
    <%- include ('../partials/header')%>
    
    <!-- main start -->
    
    <main class="content_reg">
        <section class="section_reg">
            <form class="form_reg"action="/login" method="POST">
                <label for="user" class="label_reg">NOMBRE DE USUARIO</label>
                <input type="text" id="user" name="user" required>
                <label for="email" class="label_reg">EMAIL</label>
                <input type="email" id="email" name="email" required>
                <label for="pass"  class="label_reg">CONTRASEÑA</label>
                <input class="input_reg" type="password" id="pass" name="pass"  minlength="5"  maxlength="10" required>
                <label for="confirm_pass"  class="label_reg">REPETIR CONTRASEÑA</label>
                <input class="input_reg" type="password" id="confirm_pass" name="confirm_pass"  minlength="5" maxlength="10"required>
                <button class="btn no_disapear" type="submit">REGISTRAR</button>
            </form>
        </section>
    </main>
    
    <%- include ('../partials/footer')%>
    
    <!-- JS BOOSTRAP -->
    
    <!-- <script src="js/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script> -->
        
    </body>
    
    </html>