<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head')%>
<body>
    
    <!-- header start-->
    
    <header>    
        
        <!-- header top start -->
        
        <div class="header_top">
            <img src="../img/imagotipo.svg" class="logo_desktop" alt="logo del sitio cajita musical.">
            <img src="../img/imagotipo.svg" class="logo_mobile" alt="logo del sitio cajita musical.">
            <input type="text" class="search_input" placeholder="Busca por marca, instrumento, etc.">
            <a href="/login"class="btn"> 
                <img src="./img/icon_btn_login.svg" alt=""> 
                <span class="txt_btn_login"> Mi cuenta</span>
            </a>
            <ul style="align-content: center; margin-top: auto;margin-bottom: auto;">
                <li class="burguer_li">
                    <button class="burguer_menu"> 
                        <img src="./img/dot_menu.svg" alt="">
                    </button>
                    <ul class="burguer_menu_list" >
                        <li><a href="">Iniciar sesion</a></li>
                        <span>CATEGORIAS</span>
                        <li><a href="">Cuerdas</a></li>
                        <li><a href="">Percusión</a></li>
                        <li><a href="">Vientos</a></li>
                        <li><a href="">Teclas</a></li>
                        <li><a href="">Favoritos</a></li>
                        <li><a href="">Rgistrate</a></li>
                    </ul>
                </li>
            </ul>
            <button class="btn_header_bottom btn_cart_mobile" > 
                <img src="./img/icon_carrito.svg" alt="">
            </button>
        </div>
        
        <!-- header bottom start -->
        
        <div class="header_bottom">
            <div class="location_address">
                <img src="./img/icon_gps.svg" class="icon_gps" alt="">
                <div class="delivery_post">
                    <p class="p_gps"> Enviar a:</p>
                    <a href="/" class="a_gps_2" > Ingresa CP y conoce costo de envío.</a> 
                </div>
            </div>
            <nav class="nav_header">
                <ul class="nav_ul_header">
                    <li class="nav_ul_li_header">
                        <a href="">Categorias</a>
                        <ul class="nav_ul_li_cat_ul">
                            <li class="nav_ul_li_cat_ul_li" >
                                <a href="">Cuerdas</a>
                            </li>
                            <li>
                                <a href="">Percusión</a>
                            </li>
                            <li>
                                <a href="">Vientos</a>
                            </li>
                            <li>
                                <a href="">Teclas</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav_ul_li_header">
                        <a href="">Ofertas</a>
                    </li>
                    <li class="nav_ul_li_header">
                        <a href="">Historial</a>
                    </li>
                    <li class="nav_ul_li_header">
                        <a href="">Mis Compras</a>
                    </li>
                </ul>
            </nav>
            <div class="btns_header_bottom">
                <a href="#" class="btn_header_bottom" > 
                    <img class="img_btn_fav"src="./img/icon_heart.svg" alt="">
                    <span class="txt_btn_icon">Favoritos</span> 
                </a>
                <a href="#" class="btn_header_bottom"> 
                    <img class="img_btn_cart" src="./img/icon_carrito.svg" alt="">
                    <span class="txt_btn_icon">Carrito</span> 
                </a>
                <a href="#"class="btn_header_bottom_2">REGISTRATE</a>
            </div>
        </div>
    </header>
    
    <!-- main start -->
    
    <main class="content_reg">
        <section class="section_reg">
            <form class="form_reg"action="/login" method="POST">
                <label for="user" class="label_reg">NOMBRE DE USUARIO</label>
                <input type="text" id="user" name="user" required>
                <label for="email" class="label_reg">EMAIL</label>
                <input type="email" id="email" name="email" required>
                <label for="pass"  class="label_reg">CONTRASEÑA</label>
                <input class="input_reg" type="password" id="pass" name="pass"  minlength="5"  maxlength="10" required>
                <label for="confirm_pass"  class="label_reg">REPETIR CONTRASEÑA</label>
                <input class="input_reg" type="password" id="confirm_pass" name="confirm_pass"  minlength="5" maxlength="10"required>
                <button class="btn no_disapear" type="submit">REGISTRAR</button>
            </form>
        </section>
    </main>
    
    <!--footer start -->
    
    <footer>
        <section class="copyright">
            <img src="/img/isotipo_white.svg" alt="isotipo de la marca">
            <div >
                <p>Copyright © 2021 Cajita Musical S.R.L.</p>
                <p>Av. Caseros 3039, Piso 2, CP 1264, Parque Patricios, CABA</p>
            </div>
        </section>
        <section class="terms">
            <a href="">Términos y condiciones</a>
            <a href="">Politicas de privacidad</a>
            <a href="">Contacto</a>
        </section>
        <section class="rrss">
            <span class="txt_rsss">Seguinos</span>
            <div class="icons_rrss">
                <a href=""><img class="icon_rrss" src="/img/icon_face.svg" alt=""></a>
                <a href=""><img class="icon_rrss" src="/img/icon_insta.svg" alt=""></a>
                <a href=""><img class="icon_rrss" src="/img/icon_twit.svg" alt=""></a>
                <a href=""><img class="icon_yt" src="/img/icon_youtube.svg" alt=""></a>  
            </div>
        </section>
    </footer>
    
    <!-- JS BOOSTRAP -->
    
    <!-- <script src="js/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script> -->
        
    </body>
    
    </html>